html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.header1 {
    font-family: "Roboto", sans-serif;
    font-size: 70px;
    font-weight: 300;
    font-style: normal;
}

.header2 {
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
}

.generalPanel {
    height: 300px;
    overflow-y: scroll;
    border-radius: 10px;
    background-color: #ECECEC;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*AI Generated Code*/
.card {
    width: 15rem;
    float: left;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.card-footer {
    margin-top: 10px;
}

.btn {
    background-color: #292929;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #808080ff;
}
