@{
    ViewData["Title"] = "Inicio";
}

@model IEnumerable<TallerCodeFirstMVC.Models.Estadio>

<div class="text-center">
    <br>
    <h1 class="header1">¡Bienvenido!</h1>
    <h2 class="header2">Estadios Registrados</h2>
    <br>
    <div class="generalPanel">
        @if (Model != null && Model.Any())
        {
            var count = 0;

            @foreach (var item in Model)
            {
                <div class="card">
                    <div class="card-body">
                        <header>Codigo: @Html.DisplayFor(modelItem => item.Id) </header>
                        <header>Ciudad: @Html.DisplayFor(modelItem => item.City)</header>
                        <header>Capacidad: @Html.DisplayFor(modelItem => item.Capacity)</header>
                    </div>
                    <div class="card-footer">
                        <a href="~/Estadios/Details/@item.Id" class="btn">Ver más</a>
                    </div>
                </div>

                count++;
                @if (count == 4)
                {
                    count = 0;
                    <br>
                }
            }
        }
        else
        {
            <p>No hay estadios disponibles.</p>
        }
    </div>
</div>
